@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yanone+Kaffeesatz:wght@200..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Ubuntu;
  background-color: black;
  color: #fff;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: auto;
  min-height: 100vh;
  padding: 5px;
}

  #progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 10px;
    background-color: #ffffff; /* غيّر اللون إذا تحب */
    z-index: 9999;
    transition: width 0.4s ease;
  }

  .loading #progress-bar {
    width: 100%;
  }


.title span {
  color: rgb(255, 0, 0);
}
.title h1 {
  font-size: 4rem;
  text-align: center;
}
.title p {
  font-size: 2rem;
  text-align: center;
}
/* From Uiverse.io by Peary74 */
a{
    text-decoration: none;
    color: #fff;
}
button {
  font-family: inherit;
  font-size: 20px;
  background: #212121;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
  width: 60%;
  display: flex;
  justify-content: center;
}

button a span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #ff0000;
}

button:hover a span {
  color: #212121;
  transition: 0.5s;
}

button:active {
  transform: scale(0.95);
}
button:focus {
  transition: 0.5s;
}

